In [4]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

pd.set_option('max_colwidth', None)

plt.style.use('fivethirtyeight')
sns.set()
sns.set_context("talk")
%matplotlib inline

In [5]:
data_string=r"C:\Users\am513\Desktop\LinkedIn\DSUS\Data\NHIS2009_clean.dta" 
df=pd.read_stata(data_string)
df

,year,inc1,inc2,inc3,inc4,inc5,inc6,inc7,inc8,serial,...,yedu,empl,hlth,inc,incmp,brooks,marradult,marradult_empl,adltempl,hi_hsb1
0,2009.0,19282.931641,41679.34375,61102.972656,85985.78125,167844.53125,25398.326172,109725.273438,70834.640625,1,...,14.0,1.0,4.0,19282.931641,17500.0,1.0,0.0,0.0,0.0,NaN
1,2009.0,19282.931641,41679.34375,61102.972656,85985.78125,167844.53125,25398.326172,109725.273438,70834.640625,3,...,14.0,0.0,4.0,19282.931641,17500.0,1.0,1.0,0.0,1.0,NaN
2,2009.0,19282.931641,41679.34375,61102.972656,85985.78125,167844.53125,25398.326172,109725.273438,70834.640625,3,...,4.0,0.0,5.0,19282.931641,17500.0,0.0,0.0,0.0,1.0,NaN
3,2009.0,19282.931641,41679.34375,61102.972656,85985.78125,167844.53125,25398.326172,109725.273438,70834.640625,3,...,NaN,0.0,5.0,19282.931641,17500.0,0.0,0.0,0.0,1.0,NaN
4,2009.0,19282.931641,41679.34375,61102.972656,85985.78125,167844.53125,25398.326172,109725.273438,70834.640625,3,...,11.0,1.0,4.0,19282.931641,17500.0,1.0,1.0,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80629,2009.0,19282.931641,41679.34375,61102.972656,85985.78125,167844.53125,25398.326172,109725.273438,70834.640625,41176,...,14.0,1.0,2.0,167844.531250,150000.0,1.0,0.0,0.0,2.0,NaN
80630,2009.0,19282.931641,41679.34375,61102.972656,85985.78125,167844.53125,25398.326172,109725.273438,70834.640625,41176,...,14.0,0.0,5.0,167844.531250,150000.0,1.0,0.0,0.0,2.0,NaN
80631,2009.0,19282.931641,41679.34375,61102.972656,85985.78125,167844.53125,25398.326172,109725.273438,70834.640625,41176,...,12.0,1.0,4.0,167844.531250,150000.0,1.0,0.0,0.0,2.0,NaN
80632,2009.0,19282.931641,41679.34375,61102.972656,85985.78125,167844.53125,25398.326172,109725.273438,70834.640625,41176,...,11.0,0.0,5.0,167844.531250,150000.0,0.0,0.0,0.0,2.0,NaN
80633,2009.0,19282.931641,41679.34375,61102.972656,85985.78125,167844.53125,25398.326172,109725.273438,70834.640625,41177,...,12.0,1.0,3.0,61102.972656,62500.0,1.0,0.0,0.0,0.0,NaN